body{
    background-color: #333;
}

.grid-container{
    height: 98vh;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5vw;

}

.item{
    padding: 2rem;
    background-color: darkgoldenrod;
    text-align: center;
    color: aquamarine;
    font-size: 1vw;
}