* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --bg--primary-color: #0c0c0c;
  --text-primary-color: #f0f0f0;

  /* Spacing Color */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 16px;
  --space-lg: 24px;
  --space-xl: 32px;
  --space-2xl: 40px;
  --space-3xl: 48px;

  /* Border colors */

  --border-primary-color: #333333;

  /* Border radius */
  --border-radius-xs: 4px;
  --border-radius-sm: 8px;
  --border-radius-md: 16px;
  --border-radius-lg: 24px;
  --border-radius-xl: 32px;
  --border-radius-2xl: 40px;
  --border-radius-3xl: 48px;
}

html {
  background-color: var(--bg--primary-color);
  color: var(--text-primary-color);
}

main,
section {
  height: 100%;
  width: 100%;
}
section {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: var(--space-2xl);
  gap: var(--space-lg);
}

section .infos {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.info {
  padding: var(--space-sm) var(--space-md);
  border: 1px solid var(--border-primary-color);
  border-radius: var(--border-radius-sm);
}


.board{
    border:1px solid var(--border-primary-color);
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(50px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(50px,1fr));
}

.block{
    /* width: 30px;
    height: 30px; */
    border: 1px solid var(--border-primary-color);
}
